@page "/"
@*@attribute [Authorize(Roles = SD.Role_Admin)]*@
@inject NavigationManager _navigationManager
@inject ICartRepository _cartRepository
@inject IBookRepository _bookRepository
@inject IUserRepository _userRepository
@inject IJSRuntime _jsRuntime
@inject IHashids _hashId
<PageTitle>Dashboard</PageTitle>

<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">@TodaysRevenue.ToString("C")</div>
                                    <div class="stat-heading">Todays Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@RanOutBooks.Count</span></div>
                                    <div class="stat-heading">Sold Out Books</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@BookCount</span></div>
                                    <div class="stat-heading">Books</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ActiveUserCount</span></div>
                                    <div class="stat-heading">Active Users</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->

        <div class="clearfix"></div>

        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Ran Out Books </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                @if (RanOutBooks is not null && RanOutBooks.Any())
                                {
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="avatar">Image</th>
                                                <th>Name</th>
                                                <th>Added Date</th>
                                                <th>ISBN</th>
                                                <th>Activity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var book in RanOutBooks)
                                            {

                                                <tr>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="/Books/Edit/@_hashId.Encode(book.BookId)">
                                                                <img class="rounded-circle" src="@book.Image" alt="">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td> <a href="/Books/Edit/@_hashId.Encode(book.BookId)">@book.Title</a></td>
                                                    <td>  <span class="name">@book.CreatedDate </span> </td>
                                                    <td>  <span class="name">@book.ISBN</span> </td>
                                                    <td>
                                                        <a class="btn btn-outline-warning" href="/Books/edit/@_hashId.Encode(book.BookId)">Edit</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="container">
                                        <div class="alert alert-danger text-center">
                                            <h2>No Data</h2>
                                        </div>
                                    </div>
                                }
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->

            </div>
        </div>
        <!-- /.orders -->
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Todays Orders </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                @if (Carts is not null && Carts.Any())
                                {
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="avatar">Date</th>
                                                <th>Cost</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cart in Carts)
                                            {

                                                <tr>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            @cart.CreateDate.ToGregorian()
                                                        </div>
                                                    </td>
                                                    <td>@cart.CartSum.ToString("C")</td>
                                                    <td>
                                                        <span class="name">
                                                            @if (cart.IsFinally)
                                                            {
                                                                <span class="badge badge-success">Paid</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-danger">Open</span>
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="container">
                                        <div class="alert alert-danger text-center">
                                            <h2>No Data</h2>
                                        </div>
                                    </div>
                                }
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->

            </div>
        </div>
        <!-- /.orders -->
    </div>
    <!-- .animated -->
</div>
@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    public List<BookDTO> RanOutBooks { get; set; } = new();

    public List<CartDTO> Carts { get; set; } = new();

    public double TodaysRevenue { get; set; }

    public int TodaysSoldBooks = 0;

    public int ActiveUserCount { get; set; }

    public int BookCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationState;

        if (!authenticationState.User.IsInRole(SD.Role_Admin))
        {
            var uri = new Uri(_navigationManager.Uri);
            _navigationManager.NavigateTo($"/identity/Account/Login?returnUrl={uri.LocalPath}");
        }

        RanOutBooks = await _bookRepository.GetZeroQuantityBooks();
        Carts = await _cartRepository.GetLast24HrCarts();
        ActiveUserCount = await _userRepository.GetActiveUserCount();
        BookCount = await _bookRepository.GetAllBookCount();



        foreach (var cart in Carts)
        {
            TodaysRevenue += cart.CartSum;
        }


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (RanOutBooks.Count > 0)
            {
                await _jsRuntime.ToastrWarning($"{RanOutBooks.Count} Book / Books Has / Have Ran Out");
            }
        }
    }
}