@page "/Search/Index/{q}"
@inject IBookRepository _bookRepository
@inject NavigationManager _navigationManager
@inject IHashids _hashId

<!--====== Section 1 ======-->
<!--====== End - Section 1 ======-->
<div class="container">
    <div class="col-lg-12 col-md-12">
        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <div class="center-text mb-2 mt-3">
                    <h3 class="dash__h1 u-s-m-b-14">Search For @q</h3>
                </div>
                @if (BooksDTO is not null)
                {
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td>Image</td>
                                <td>Book Title</td>
                                <td>Publish Date</td>
                                <td>ISBN</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in BooksDTO)
                            {

                                <tr>
                                    <td>
                                        <img style="width:50px;" src="@book.Image" class="img-thumbnail">
                                    </td>
                                    <td>@book.Title</td>
                                    <td>@book.PublishedYear</td>
                                    <td>@book.ISBN</td>
                                    <td>@book.Quantity</td>
                                    <td>@book.Price.ToString("C")</td>
                                    <td><a class="link-info" href="/Books/BookDetails/@_hashId.Encode(book.BookId)">View Book</a></td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="center-text">
                        <h2>No Data</h2>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string q { get; set; }

    public IEnumerable<BookDTO> BooksDTO { get; set; } = new List<BookDTO>();

    protected override async Task OnInitializedAsync()
    {
        BooksDTO = await _bookRepository.GetBookBySearchTxt(SD.BooksApiPath, "GetBookBySearchTxt", q);
    }
}
